/* You can add global styles to this file, and also import other style files */
html{
  position: relative;
  min-height: 100%;
}
/**
body{
  margin-bottom: 60px;
}**/


body{
  background-image: linear-gradient(25deg, #fffef8 0, #fffdf7 50%, #fdfcf6 100%);

}

