<!--<form (ngSubmit)= "create()" class="w-25 mx-auto">-->
<form (ngSubmit)="create()" class="w-25 mx-auto">
  <br>
  <div class="form-group">
    <!--<label for="formGroupExampleInput2">Another label</label>-->
    <input type="text" class="form-control" #nombre="ngModel" [(ngModel)]="cliente.nombre" required minlength="4"
           name="nombre" placeholder="Name">
    <div class="alert alert-warning" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <div *ngIf="nombre.errors">
        Nombre Incorrecto
      </div>

    </div>
  </div>
  <br>
  <div class="form-group">
    <!--<label for="formGroupExampleInput2">Another label</label>-->
    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required
           placeholder="Username">
  </div>
  <br>
  <div class="form-group">
    <!--<label for="formGroupExampleInput2">Another label</label>-->
    <input type="text" class="form-control" [(ngModel)]="cliente.dni" name="dni" required placeholder="DNI">
  </div>
  <br>
  <div class="form-group">
    <!--<label for="formGroupExampleInput2">Another label</label>-->
    <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" required placeholder="Email">
  </div>
  <br>

  <div class="col text-center">
    <button class="btn btn-primary " (click)='create()' *ngIf="!cliente.id else elseBlock">Register</button>
    <ng-template #elseBlock>
      <button class="btn btn-primary " (click)='update()'>Edit</button>

    </ng-template>
  </div>

  <!--DELETE BUTOOM-->

</form>


